<div style="text-align:center">
  <h1>Task 2</h1>
  <ul>
    <li *ngFor="let item of data">
      <span *ngIf="item.children.length"  (click)="show(item); $event.stopPropagation()" [hidden]="id===item.id">+</span>
      <span *ngIf="item.children.length" (click)="hide(); $event.stopPropagation()" [hidden]="id!==item.id">-</span>
      <span *ngIf="!item.children.length">&nbsp;&nbsp;</span>
      {{item.title}}
      <app-child-component *ngIf="item.id===id" [children]="item.children"></app-child-component>
    </li>
  </ul>
</div>

  <!--<app-container-component></app-container-component>-->