<ul>
    <li *ngFor="let item of children">

        <span *ngIf="item.children.length" (click)="show(item, $event)" [hidden]="id===item.id">
            <i class="fa fa-plus fa-fw"></i>
        </span>

        <span *ngIf="item.children.length" (click)="hide($event)" [hidden]="id!==item.id">
            <i class="fa fa-minus fa-fw"></i>
        </span>

        <span *ngIf="!item.children.length">&nbsp;&nbsp;&nbsp;</span>
        {{item.title}}
        
        <app-child-component *ngIf="item.id===id" [children]="item.children"></app-child-component>

    </li>
</ul>